


<div data-role="view" id="view-all-activities" data-layout="default3" class="activities-view" data-model="app.inicio" 
      data-init="app.inicio.init" data-show="app.inicio.show">
    
        <div data-role="header" data-model="app.inicio">
                <div data-role="navbar">
                   <a data-role="button" data-rel="drawer" href="#my-drawer" data-icon="drawer-button" data-align="left" data-badge="18"></a>
                  Inicio - <span  class="TitleSelector"> </span>
                </div>
            </div>
 
    

</div>