<div data-role="view" id="Quejas" data-layout="default3" class="add-activity-view">
   <div data-role="header">
                <div data-role="navbar">
                   <a data-role="button" data-rel="drawer" href="#my-drawer" data-icon="drawer-button" data-align="left" data-badge="18"></a>
                      Quejas - <span  class="TitleSelector"> </span>
                </div>
            </div>
    <ul data-role="actionsheet" id="flags">
        <li class="km-actionsheet-title">Flag</li>
        <li><a href="#">Flag</a></li>
        <li><a href="#">Mark as Unread</a></li>
        <li><a href="#">Move to Junk</a></li>
    </ul>
   
</div>
